<div class="row">
  <div
    *ngFor="let course of traineeships"
    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6"
  >
    <div class="course__item white-bg mb-30 fix">
      <div class="course__thumb w-img p-relative fix">
        <a [routerLink]="['/course-details']">
          <img src="assets/img/course/course-1.jpg" alt="" />
        </a>
        <div class="course__tag">
          <a href="#" [class]="course.color">{{ course.title }}</a>
        </div>
      </div>
      <div class="course__content">
        <div
          class="course__meta d-flex align-items-center justify-content-between"
        >
          <!-- <div class="course__lesson">
                  <span><i class="far fa-book-alt"></i>
                      {{course.title}} Lesson</span>
               </div> -->
          <div class="course__rating">
            <span><i class="icon_star"></i>4.5(44)</span>
          </div>
        </div>
        <h3 class="course__title">
          <a [routerLink]="['/course-details']"> {{ course.title }}</a>
        </h3>
        <div class="course__teacher d-flex align-items-center">
          <h6>{{ course.startDate }} to {{ course.finalDate }}</h6>
        </div>
      </div>
      <div
        class="course__more d-flex justify-content-between align-items-center"
      >
        <div class="course__status d-flex align-items-center">
          <span [class]="course.color">${{ course.price }}</span>
        </div>
        <div class="course__btn">
          <button class="btn btn-primary" (click)="abonner(course)">
            subscription
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
